/* Navigation */
#navbar {
  flex-direction: column;
  position: relative;
}
#navbar::before {
  opacity: 0.4;
}
#navbar ul {
  padding-bottom: 8px;
}
#navbar ul li a {
  font-size: 1rem;
  padding: 0px 15px;
}
/* Home Section */
#home {
  height: 270px;
  padding: 3px 10px;
}
#home::before {
  height: 390px;
}
#home p {
  font-size: 16px;
}

/* Service Section */
#services {
  flex-direction: column;
  margin: 15px 15px 34px;
}
#services .box {
  padding: 20px;
  margin: 6px 6px 10px;
}
#services .box p {
  font-size: 14px;
}

/* Clients Section */
#clients {
  flex-wrap: wrap;
}
#clients img {
  width: 50px;
  height: auto;
  padding: 6px;
}

/* Contact Us */
#contact-box form {
  width: 70%;
}
#contact-box label {
  font-size: 0.9rem;
}
#contact-box input,
#contact-box textarea {
  font-size: 0.8rem;
}
/* Footer */
footer {
  font-size: 1.1rem;
}

/* Utility Classes */
.h-primary {
  font-size: 26px;
}
.h-secondary {
  font-size: 18px;
}
.btn {
  font-size: 0.9rem;
  padding: 4px 8px;
}
